
TestApp/TestApp/TestApp.Android/bin/
TestApp/TestApp/TestApp.Android/obj/
TestApp/TestApp/TestApp.Android/bin/
TestApp/TestApp/TestApp/obj/
TestApp/TestApp/TestApp/bin/
TestApp/WebService/bin
TestApp/WebService/obj
