
TestApp/.vs/TestApp/v15/.suo
TestApp/TestApp/TestApp.Android/obj/Debug/MonoAndroid81/TestApp.Android.dll
TestApp/TestApp/TestApp.Android/obj/Debug/MonoAndroid81/linksrc/TestApp.Android.dll
TestApp/TestApp/TestApp.Android/obj/Debug/MonoAndroid81/linkdst/TestApp.Android.dll
TestApp/TestApp/TestApp.Android/obj/Debug/MonoAndroid81/android/assets/TestApp.Android.dll
TestApp/TestApp/TestApp.Android/bin/Debug/TestApp.Android.dll
